@model EFPractice.Models.Movie

@{
    ViewBag.Title = "Info";
}

<h2>Info</h2>


    <h4>Directors @Model.Director.Director_Name</h4>
    <hr/>
    <p> Movies Include</p>
@foreach (var item in Model.Director.Movies)
{
    <li>
        <a href="@item.movie_imdb_link" style="text-decoration:none">@item.movie_title</a> that came out in @item.title_year
    </li>
}




