@model EFPractice.Models.Director

@{
    ViewBag.Title = "Info";
}

<h2>Info</h2>

<div>
    <h4>Director</h4>
    <hr />
        
        @foreach (var item in Model.Dir) 
        {
        <li>
            <a href="@item."></a>
        </li>
        }
  
</div>
