@model IEnumerable<Football.Models.Spotify>

@{
    ViewBag.Title = "Artist";
}

<h2>Artist</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artist)
        </th>

        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @Html.ActionLink("Songs", "Songs", new { id = item.Index })
            </td>

        </tr>
    }

    </table>
